include "host.kdl"
input {
	disable-power-key-handling
	focus-follows-mouse max-scroll-amount="33%"
	keyboard {
		xkb {
			layout "us,it"
			variant "intl,"
		}
		numlock
	}
	touchpad {
		tap
		dwt
		dwtp
		drag true
		drag-lock
		natural-scroll
		click-method "clickfinger"
		accel-speed 0.0
		accel-profile "flat"
		scroll-method "two-finger"
	}
	mouse {
		accel-speed 0.0
		accel-profile "flat"
	}
}
environment {
	NIXOS_OZONE_WL "1"
	QT_QPA_PLATFORM "wayland;xcb"
	QT_QPA_PLATFORMTHEME "gtk3"
	XDG_CURRENT_DESKTOP "niri"
	XDG_SESSION_TYPE "wayland"
	XDG_SESSION_DESKTOP "niri"
	MICRO_TRUECOLOR "1"
	GSK_RENDERER "gl"
}
layout {
	gaps 5
	center-focused-column "on-overflow"
	always-center-single-column
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
	}
	preset-window-heights {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
	}
	default-column-width {
		proportion 0.5
	}
	focus-ring {
		off
	}
	border {
		width 2
		active-gradient from="#89b4fa" to="#cba6f7" angle=330
		inactive-gradient from="#181825" to="#313244" angle=330
		urgent-color "#fab387"
	}
	background-color "transparent"
	insert-hint {
		gradient from="#74c7ec" to="#cba6f7" angle=60
	}
	shadow {

	}
	struts {
		left 10
		right 10
	}
}
prefer-no-csd
window-rule {
	geometry-corner-radius 8
	clip-to-geometry true
	draw-border-with-background false
	background-effect {
		blur true
		xray true
	}
}
blur {
	passes 2
	offset 4.0
}
cursor {
	hide-when-typing
	hide-after-inactive-ms 4096
}
overview {
	zoom 0.45
	backdrop-color "#1e1e2e"
}
recent-windows {
	highlight {
		active-color "#94e2d5"
		urgent-color "#fab387"
		padding 16
		corner-radius 8
	}
	previews {
		max-scale 0.4
	}
}
layer-rule {
	match namespace="awww-daemon"
	place-within-backdrop true
}
layer-rule {
	match namespace="launcher"
	background-effect {
		blur true
		xray false
	}
}
layer-rule {
	match namespace="notifications"
	background-effect {
		blur true
		xray false
	}
}
// floating windows border
window-rule {
	match is-floating=true
	border {
		active-gradient from="#74c7ec" to="#f5c2e7" angle=330
	}
}
// nautilus
window-rule {
	match app-id="org.gnome.Nautilus"
	open-floating true
	default-column-width {
		proportion 0.6
	}
	default-window-height {
		proportion 0.6
	}
	opacity 0.9
}
// kitty
window-rule {
	match app-id="kitty"
	default-column-width {
		proportion 0.5
	}
	opacity 0.9
}
// float.kitty
window-rule {
	match app-id="float.kitty"
	open-floating true
	default-column-width {
		proportion 0.3
	}
	default-window-height {
		proportion 0.5
	}
	opacity 0.9
}
// wifi.kitty
window-rule {
	match app-id="wifi.kitty"
	open-floating true
	default-column-width {
		proportion 0.6
	}
	default-window-height {
		proportion 0.6
	}
	opacity 0.9
}
// bluetooth.kitty
window-rule {
	match app-id="bluetooth.kitty"
	open-floating true
	default-column-width {
		proportion 0.6
	}
	default-window-height {
		proportion 0.6
	}
	opacity 0.9
}
// btop.kitty
window-rule {
	match app-id="btop.kitty"
	open-floating true
	default-column-width {
		proportion 0.75
	}
	default-window-height {
		proportion 0.75
	}
	opacity 0.9
}
// wiremix.kitty
window-rule {
	match app-id="wiremix.kitty"
	open-floating true
	default-column-width {
		proportion 0.6
	}
	default-window-height {
		proportion 0.6
	}
	opacity 0.9
}
// clock.kitty
window-rule {
	match app-id="clock.kitty"
	open-floating true
	default-column-width {
		proportion 0.5
	}
	default-window-height {
		proportion 0.5
	}
	opacity 0.9
}
// xdg-desktop-portal
window-rule {
	match app-id="(?i)^xdg-desktop-portal"
	open-floating true
	default-column-width {
		proportion 0.6
	}
	default-window-height {
		proportion 0.6
	}
}
// select dialogs
window-rule {
	match title="(?i)^select"
	open-floating true
	default-column-width {
		proportion 0.6
	}
	default-window-height {
		proportion 0.6
	}
}
// zen
window-rule {
	match app-id="zen-twilight"
	default-column-width {
		proportion 1.0
	}
}
// zen dialogs
window-rule {
	match title="^(Library|Extension:.*)"
	open-floating true
	default-column-width {
		proportion 0.7
	}
	default-window-height {
		proportion 0.7
	}
}
// ente-auth
window-rule {
	match app-id="io.ente.auth"
	open-floating true
	default-column-width {
		proportion 0.6
	}
	default-window-height {
		proportion 0.6
	}
	opacity 0.9
}
// messaging apps
window-rule {
	match app-id="whatsapp-electron"
	match app-id="com.ayugram.desktop"
	match app-id="signal"
	match app-id="discord"
	default-column-width {
		proportion 0.66667
	}
}
// localsend
window-rule {
	match app-id="localsend_app"
	open-floating true
	default-column-width {
		proportion 0.5
	}
	default-window-height {
		proportion 0.6
	}
	opacity 0.93
}
// imv
window-rule {
	match app-id="imv"
	open-floating true
	default-column-width {
		proportion 0.8
	}
	default-window-height {
		proportion 0.8
	}
}
// steam
window-rule {
	match app-id="steam"
	default-column-width {
		proportion 0.66667
	}
}
// spotify
window-rule {
	match app-id="Spotify"
	default-column-width {
		proportion 0.66667
	}
	opacity 0.9
}
// codium
window-rule {
	match app-id="codium"
	default-column-width {
		proportion 1.0
	}
	opacity 0.93
}
spawn-at-startup "nawww" "--init"
spawn-at-startup "hyprlock"
spawn-at-startup "hypridle"
spawn-at-startup "bluetoothctl" "power" "off"
hotkey-overlay {
	skip-at-startup
	hide-not-bound
}
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"
animations {
	slowdown 0.8
}
binds {
	// binds cheatsheet
	Mod+Shift+Slash {
		show-hotkey-overlay
	}
	// overview
	Mod+O repeat=false {
		toggle-overview
	}
	Mod+Z repeat=false {
		toggle-overview
	}
	// close window
	Mod+Q repeat=false {
		close-window
	}
	// terminal (kitty)
	Mod+Return {
		spawn "kitty"
	}
	Mod+Shift+Return {
		spawn "kitty" "--class=float.kitty"
	}
	// terminal (ghostty)
	Mod+G {
		spawn "ghostty"
	}
	// app launcher (tofi)
	Mod+Space {
		spawn "fish" "-c" "pkill tofi || tofi-drun"
	}
	// lock screen (hyprlock)
	Mod+Shift+L {
		spawn "fish" "-c" "pidof hyprlock || hyprlock"
	}
	// file manager (nautilus)
	Mod+E {
		spawn "nautilus" "--new-window"
	}
	// wifi (impala)
	Mod+W {
		spawn "fish" "-c" "pidof impala && pkill impala || kitty --class=wifi.kitty -e impala"
	}
	Mod+Shift+W {
		spawn "fish" "-c" "wifi-toggle"
	}
	// bluetooth (bluetuith)
	Mod+B {
		spawn "fish" "-c" "pidof bluetuith && pkill bluetuith || kitty --class=bluetooth.kitty -e bluetuith"
	}
	// top (btop)
	Ctrl+Shift+Escape {
		spawn "fish" "-c" "pidof btop && pkill btop || kitty --class=btop.kitty -e btop"
	}
	// wallpaper
	Mod+Shift+A {
		spawn "fish" "-c" "nawww"
	}
	// audio switch
	Mod+A allow-when-locked=true {
		spawn "fish" "-c" "auch"
	}
	// media
	Mod+P allow-when-locked=true {
		spawn "playerctl" "play-pause"
	}
	Mod+Minus allow-when-locked=true {
		spawn "playerctl" "previous"
	}
	Mod+Equal allow-when-locked=true {
		spawn "playerctl" "next"
	}
	// volume
	Mod+Shift+Minus allow-when-locked=true {
		spawn "swayosd-client" "--output-volume" "-2"
	}
	Mod+Shift+Equal allow-when-locked=true {
		spawn "swayosd-client" "--output-volume" "+2"
	}
	// screenshot
	Mod+S {
		screenshot-screen
	}
	Print {
		screenshot-screen
	}
	Mod+Shift+S {
		screenshot-window
	}
	Shift+Print {
		screenshot-window
	}
	Mod+Ctrl+S {
		screenshot
	}
	Ctrl+Print {
		screenshot
	}
	// tty-clock
	Mod+H {
		spawn "fish" "-c" "pidof tty-clock && pkill tty-clock || kitty --class=clock.kitty -e tty-clock tty-clock -c -s -f \"%a %e-%b-%Y\""
	}
	// wiremix
	Mod+V {
		spawn "fish" "-c" "pidof wiremix && pkill wiremix || kitty --class=wiremix.kitty -e wiremix"
	}
	// hyprpicker
	Mod+C {
		spawn "fish" "-c" "pidof hyprpicker && pkill hyprpicker || hyprpicker -a"
	}
	// mute
	Mod+M allow-when-locked=true {
		spawn "swayosd-client" "--output-volume" "mute-toggle"
	}
	// keyboard layout
	Mod+Shift+Space allow-when-locked=true {
		spawn-sh "niri msg action switch-layout next; layout=$(niri msg -j keyboard-layouts | jq -r '.names[.current_idx]'); dunstify -h string:x-dunst-stack-tag:kblayout \"Layout: $layout\""
	}
	XF86AudioRaiseVolume allow-when-locked=true {
		spawn "swayosd-client" "--output-volume" "+2"
	}
	XF86AudioLowerVolume allow-when-locked=true {
		spawn "swayosd-client" "--output-volume" "-2"
	}
	XF86AudioMute allow-when-locked=true {
		spawn "swayosd-client" "--output-volume" "mute-toggle"
	}
	XF86AudioMicMute allow-when-locked=true {
		spawn "swayosd-client" "--input-volume" "mute-toggle"
	}
	XF86AudioPlay allow-when-locked=true {
		spawn "swayosd-client" "--playerctl" "play-pause"
	}
	XF86AudioPause allow-when-locked=true {
		spawn "swayosd-client" "--playerctl" "play-pause"
	}
	XF86AudioStop allow-when-locked=true {
		spawn "swayosd-client" "--playerctl" "stop"
	}
	XF86AudioPrev allow-when-locked=true {
		spawn "swayosd-client" "--playerctl" "previous"
	}
	XF86AudioNext allow-when-locked=true {
		spawn "swayosd-client" "--playerctl" "next"
	}
	XF86MonBrightnessUp allow-when-locked=true {
		spawn "swayosd-client" "--brightness" "raise"
	}
	XF86MonBrightnessDown allow-when-locked=true {
		spawn "swayosd-client" "--brightness" "lower"
	}
	//////// FOCUS ////////
	// within workspace
	Mod+Up {
		focus-window-up
	}
	Mod+Down {
		focus-window-down
	}
	Mod+Left {
		focus-column-left
	}
	Mod+Right {
		focus-column-right
	}
	Mod+WheelScrollDown cooldown-ms=150 {
		focus-column-left
	}
	Mod+WheelScrollUp cooldown-ms=150 {
		focus-column-right
	}
	// between workspaces
	Mod+Comma {
		focus-workspace-up
	}
	Mod+Period {
		focus-workspace-down
	}
	Mod+MouseForward {
		focus-workspace-up
	}
	Mod+MouseBack {
		focus-workspace-down
	}
	// between monitors (cycle)
	Mod+Tab {
		spawn "fish" "-c" "focus-monitor-next"
	}
	//////// MOVE WINDOW/COLUMN ////////
	// within workspace
	Mod+Ctrl+Up {
		move-window-up
	}
	Mod+Ctrl+Down {
		move-window-down
	}
	Mod+Ctrl+Left {
		move-column-left
	}
	Mod+Ctrl+Right {
		move-column-right
	}
	Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
		move-column-left
	}
	Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
		move-column-right
	}
	// between workspaces
	Mod+Ctrl+Comma {
		move-column-to-workspace-up
	}
	Mod+Ctrl+Period {
		move-column-to-workspace-down
	}
	Mod+Ctrl+MouseForward cooldown-ms=150 {
		move-column-to-workspace-up
	}
	Mod+Ctrl+MouseBack cooldown-ms=150 {
		move-column-to-workspace-down
	}
	// between monitors
	Mod+Ctrl+BracketLeft {
		move-column-to-monitor-left
	}
	Mod+Ctrl+BracketRight {
		move-column-to-monitor-right
	}
	//////// CONSUME/EXPAND WINDOW ////////
	// within workspace
	Mod+Alt+Left {
		consume-or-expel-window-left
	}
	Mod+Alt+Right {
		consume-or-expel-window-right
	}
	Mod+Alt+WheelScrollDown cooldown-ms=150 {
		consume-or-expel-window-left
	}
	Mod+Alt+WheelScrollUp cooldown-ms=150 {
		consume-or-expel-window-right
	}
	//////// MOVE WORKSPACE ////////
	// between workspaces
	Mod+Ctrl+Alt+Comma {
		move-workspace-up
	}
	Mod+Ctrl+Alt+Period {
		move-workspace-down
	}
	Mod+Ctrl+Alt+MouseForward {
		move-workspace-up
	}
	Mod+Ctrl+Alt+MouseBack {
		move-workspace-down
	}
	// between monitors
	Mod+Ctrl+Alt+BracketLeft {
		move-workspace-to-monitor-previous
	}
	Mod+Ctrl+Alt+BracketRight {
		move-workspace-to-monitor-next
	}
	Mod+T {
		toggle-window-floating
	}
	// width/height presets
	Mod+Slash {
		switch-preset-window-width
	}
	Mod+Backslash {
		switch-preset-window-height
	}
	Mod+Shift+Backslash {
		reset-window-height
	}
	// maximize/fullscreen
	Mod+F {
		maximize-column
	}
	Mod+Shift+F {
		fullscreen-window
	}
	// rotate monitor
	Mod+R {
		spawn "fish" "-c" "rotate-toggle"
	}
	// toggle binds inhibitors
	Mod+Escape allow-inhibiting=false {
		toggle-keyboard-shortcuts-inhibit
	}
	// monitor off
	Mod+Shift+P {
		power-off-monitors
	}
	//// ROS ////
	Mod+Shift+R {
		spawn "fish" "-c" "kitty -e fish -c 'cd ~/repos/violet && ros'"
	}
	Mod+Shift+M {
		spawn "fish" "-c" "kitty -e fish -c moveit"
	}
}
window-rule {
	match app-id="rqt"
	open-floating true
}
window-rule {
	match app-id="rviz2"
	default-column-width {
		proportion 1.0
	}
}
