@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
	font-family: "CaskaydiaCove Nerd Font Mono", "Symbols Nerd Font";
	color: @text;
	font-weight: bolder;
	font-style: italic;
	font-size: 10pt;
}

#workspaces,
#cava,
#tray,
#backlight,
#idle_inhibitor,
#wireplumber,
#cpu,
#bluetooth,
#network,
#battery,
#clock {
	background-color: alpha(@base, 0.4);
	border-width: 4px;
	border-style: solid;
	border-color: @mavue;
	border-radius: 10px;
	border-top: 0px;
	border-bottom: 0px;

	padding: 0em 0.7em;
	margin: 8px 2px 0px;
}

#workspaces {
	margin-left: 8px;
}

#workspaces button {
	border-radius: 50%;
	margin: 0.2em;
}

#workspaces button.active {
	background-color: alpha(@blue, 0.3);
}

#waybar {
	background-color: alpha(@base, 0);
}



#tray {
	border-color: @rosewater;
	color: @rosewater;
}




#cava {
	border-color: @flamingo;
	color: @flamingo;
	border-right: 0em;
	border-top-right-radius: 0em;
	border-bottom-right-radius: 0em;
	margin-right: 0em;

}

#wireplumber {
	border-color: @flamingo;
	color: @flamingo;
	min-width: 8em;
	border-left: 0em;
	border-top-left-radius: 0em;
	border-bottom-left-radius: 0em;
	margin-left: -0.3em;
	padding-left: 0em;
}

#backlight {
	border-color: @pink;
	color: @pink;
}

#idle_inhibitor {
	border-color: @maroon;
	color: @maroon;
}

#cpu {
	border-color: @peach;
	color: @peach;
	min-width: 8.5em;
}

#battery {
	border-color: @green;
	color: @green;
}

#battery.warning {
	border-color: @yellow;
	color: @yellow;
}

#battery.critical {
	border-color: @red;
	color: @red;
}

#bluetooth {
	border-color: @teal;
	color: @teal;
}

#network {
	border-color: @sapphire;
	color: @sapphire;
}

#clock {
	border-color: @lavender;
	color: @lavender;
	margin-right: 8px;
}