@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
	font-family: "CaskaydiaCove Nerd Font Mono", "Symbols Nerd Font";
	color: @text;
	font-size: 1.3vh;
	background-color: alpha(@base, 0);
	border-color: alpha(@base, 0);
	border-style: solid;
}

.monitor {
	margin-top: 90px;
	border: unset;
	border-radius: 20px;
	background-color: @base;
}

.client {
	background-color: alpha(@base, 0.8);
	margin: 4px;
	border-width: 2px;
}

.client.active {
	border-color: @mauve;
}

.client:hover {
	background-color: alpha(@blue, 0.05)
}

.workspace {
	border: unset;
	background-color: @base;
}

.launcher {
	margin-top: 80px;
	border-radius: 20px;
	border-style: solid;
	border-color: @mauve;
	background-color: @base;
}

.launcher-input {
	border-radius: 10px;
	border-left: 2px;
	border-color: alpha(@mauve, 1);
	background-color: @base;
}


.launcher-item {
	padding: 4px;
	border-radius: 10px;
	background-color: @base;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease;
}

.launcher-item:hover {
	background-color: alpha(@blue, 0.4);
}

.launcher-plugins {
	display: none;
	padding: 0;
	margin: 0;
}

.launcher-plugin {
	display: none;
	padding: 0;
	margin: 0;
}