:root {

	--rosewater: rgba(245, 224, 220, 1);
	--flamingo: rgba(242, 205, 205, 1);
	--pink: rgba(245, 194, 231, 1);
	--mauve: rgba(203, 166, 247, 1);
	--red: rgba(243, 139, 168, 1);
	--maroon: rgba(235, 160, 172, 1);
	--peach: rgba(250, 179, 135, 1);
	--yellow: rgba(249, 226, 175, 1);
	--green: rgba(166, 227, 161, 1);
	--teal: rgba(148, 226, 213, 1);
	--sky: rgba(137, 220, 235, 1);
	--sapphire: rgba(116, 199, 236, 1);
	--blue: rgba(137, 180, 250, 1);
	--lavender: rgba(180, 190, 254, 1);
	--text: rgba(205, 214, 244, 1);
	--subtext1: rgba(186, 194, 222, 1);
	--subtext0: rgba(166, 173, 200, 1);
	--overlay2: rgba(147, 153, 178, 1);
	--overlay1: rgba(127, 132, 156, 1);
	--overlay0: rgba(108, 112, 134, 1);
	--surface2: rgba(88, 91, 112, 1);
	--surface1: rgba(69, 71, 90, 1);
	--surface0: rgba(49, 50, 68, 1);
	--base: rgba(30, 30, 46, 0.9);
	--mantle: rgba(24, 24, 37, 1);
	--crust: rgba(17, 17, 27, 1);

	--border-radius: 10px;
	--border-size: 2px;
	--border-style: solid;

	--border-color: var(--surface0);
	--border-color-active: var(--mauve);

	--bg-color: var(--base);
	--bg-color-hover: var(--surface1);

	--window-padding: 10px;
	--font-size: 12px;

	--text-color: var(--text);

}

.monitor {
	border: unset;
	border-radius: 20px;
}

.client {
	background-color: rgba(30, 30, 46, 0.5);
}

.workspace {
	border: unset;
}

.launcher {
	margin-top: 80px;
	border: unset;
	border-radius: 20px;
}

.launcher-input {
	border-radius: var(--border-radius);
}

.launcher-input:focus-within {
	outline: var(--border-size) var(--border-style, solid) var(--border-color-active);
}


.launcher-item {
	padding: 0 10px;
	border-radius: 10px;
}

.launcher-plugins {
	display: none;
}

.launcher-plugin {
	display: none
}